$blue: #00159D;
$white: #ffffff;
$black: #000;
$dgrey: #171717;

:root {
    --blue: #00159D;
    --white: #000;
    --black: #fff;
    --dgrey: #e6e6e6;
}

.lightModeColor {
    --blue: #00159D;
    --white: #ffffff;
    --black: #000;
    --dgrey: #171717;
}


